ARCoreCredentials.swift
*.mov
Packaged.resolved
/opencv2.framework
/visp3.framework
/Frameworks
/**/GoogleService-Info.plist
/**/.DS_Store
Pods/
/InvisibleMap.xcodeproj/xcuserdata/
/InvisibleMap.xcworkspace/xcuserdata/
*.xcuserstate
